<footer id="main-footer">
  <div class="container">
    <p>Dante es código abierto y está disponible en <a href="https://github.com/IIC2513-2017-2/dante" target="_blank" rel="noopener">Github</a>.</p>

    <p>
      El contenido de los artículos de esta bitácora están bajo licencia
      <a href="https://creativecommons.org/licenses/by/4.0/">(CC BY 4.0)</a>.
    </p>
  </div>
</footer>
