<header id="main-header">
  <div class="container">
    <h2 class="brand-heading"><a href="<%= homePath %>" class="site-brand">Dante</a></h2>
    <p class="brand-description">Bitácora de un ayudante de web</p>
  </div>
</header>
