<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Dante</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="/assets/styles.css">
    <% } %>
  </head>

  <body>
    <%- include('header') %>

    <div id="main-content">
      <div class="container">
        <%- body %>
      </div>
    </div>

    <%- include('footer') %>

    <% if (currentUser) { %>
      <form action="<%= signOutPath %>" id="signout-form" name="signout-form" method="post">
        <input type="hidden" name="_method" value="delete" />
      </form>
    <% } %>

    <script src="/assets/app.js"></script>
    <script src="/assets/appReact.js"></script>
  </body>

</html>
