<% if (!locals.isAdminPath) { %>
<div class="container">
  <nav id="main-nav">
    <ul>
      <li><a href="<%= homePath %>">Inicio</a></li>
      <li><a href="<%= postIndexPath %>">Posts</a></li>
      <li><a href="https://github.com/IIC2513-2017-2/syllabus/" target="_blank" rel="noopener">Syllabus en Github</a></li>
      <li><a href="https://github.com/IIC2513-2017-2/syllabus/wiki" target="_blank" rel="noopener">Wiki en Github</a></li>
    </ul>
  </nav>
</div>
<% } %>
