$bgColorFactor: 253;
$bgColor: rgb($bgColorFactor, $bgColorFactor, $bgColorFactor);

$bodyColorFactor: 30;
$bodyColor: rgb($bodyColorFactor, $bodyColorFactor, $bodyColorFactor);

$headerShadow: rgba(100,100,100,0.4);

$linkColor: black;
