$bgColorFactor: 253;
$bgColor: rgb($bgColorFactor, $bgColorFactor, $bgColorFactor);

$bodyColorFactor: 30;
$bodyColor: rgb($bodyColorFactor, $bodyColorFactor, $bodyColorFactor);

$headerShadow: rgba(100,100,100,0.4);

$linkColor: black;

$noticeBgColor: rgb(224, 249, 255);
$noticeBorderColor: darken($noticeBgColor, 5);
$noticeColor: darken($noticeBgColor, 70);

$btnBgDefault: rgb(0, 151, 191);
$btnBgSubmit: rgb(0, 191, 94);
$btnBgDanger: rgb(219, 36, 107);
