$containerMaxWidth: 900px;

$serif: Palatino, Georgia, Garamond, serif;
$sans-serif: ---apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$monospace: Consolas, Monaco, 'Courier New', monospace;

$default-transition: all 0.3s ease-in-out;

// Base
* {box-sizing: border-box;}

html, body {
  margin: 0;
  padding: 0;
  color: $bodyColor;
  background-color: $bgColor;
  font-family: $sans-serif;
  font-size: 16px;
}

a, a:visited {
  color: $linkColor;
  text-decoration: none;
}

.content-link {
  padding-bottom: 1px;
  color: $postLinkColor;
  text-decoration: underline;
  // border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $postLinkColorHover;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
}



// Layout

#main-content {
  min-height: 300px;

  p a {
    @extend .content-link;
  }
}

#main-header {
  box-shadow: 0 -1px 3px $headerShadow;
  padding: 15px 0;
  background-color: white;

  .container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: middle;
  }

  .brand {
  }

  .session-actions {
    .session-current-user {
      font-size: 14px;
      padding: 4px;
      border-radius: 4px;
      margin-right: 20px;
      vertical-align: middle;

      img {
        vertical-align: middle;
        width: 30px;
        border-radius: 50%;
        margin: 5px;
      }
    }

    .btn {
      vertical-align: baseline;
    }
  }

  .brand-heading {
    margin: 0 10px 0 0;
    display: inline-block;
  }

  .site-brand {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid lighten($bodyColor, 80);
  }

  .brand-description {
    display: inline-block;
    color: lighten($bodyColor, 40);
    font-style: italic;
    font-size: 14px;
  }
}

.container {
  margin: 0 auto;
  max-width: $containerMaxWidth;
}

.home-landing {
  margin: 50px 0;
  padding: 30px 50px;
  background-color: $noticeBgColor;
  color: $noticeColor;
  border: 1px solid darken($noticeBgColor, 5);
  border-radius: 5px;
}

// Flash messages

.flashMessage, .error, .errors, .warning {
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  font-size: 14px;

  p {
    margin: 0;
  }

  &.notice {
    background-color: $noticeBgColor;
    border-color: $noticeBorderColor;
    color: $noticeColor;
  }

  &.warning {
    background-color: $warningBgColor;
    border-color: $warningBorderColor;
    color: $warningColor;
  }

  &.error, &.errors {
    background-color: $errorBgColor;
    border-color: $errorBorderColor;
    color: $errorColor;
  }

  &.errors {
    text-align: inherit;
    padding: 10px 20px;
  }
}

// Main Navigation

#main-nav {
  margin: 30px 0 40px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-size: 12px;
  color: lighten($bodyColor, 30);
  font-weight: lighter;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px;
      transition: all 0.1s ease-in-out;

      a {
        color: inherit;
        padding-bottom: 3px;
        border-bottom: 1px solid lighten($bodyColor, 80);
        transition: $default-transition;
      }

      &:hover {
        color: $bodyColor;
        a { border-color: lighten($bodyColor, 40); }
      }
    }
  }
}

#main-footer {
  background-color: $footerBgColor;
  padding: 20px 0;
  min-height: 225px;
  margin-top: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $footerColor;
  font-size: 14px;
  box-shadow: 0 5px 15px rgba($bodyColor, 0.02) inset;
  border-top: 1px solid lighten($bodyColor, 80);

  a {
    color: inherit;
    text-decoration: underline;
  }
}

// Table layout

.table {
  display: table;

  &.full-width {
    width: 100%;
  }
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

// Forms

#signin-form, #signup-form {
  background: white;
  border: 2px solid lighten($bodyColor, 85);
  border-radius: 10px;
  margin: 30px auto;
  padding: 10px 20px;

  input:not([type=submit]), select, textarea {
    width: 100%;
  }
}


#signin-form {
  width: 60%;
  .form-row-actions {
   justify-content: flex-end;
  }
}


.form-row {
  display: flex;
  margin: 10px 0 0;
  padding: 10px 0 5px;

  &:not(.form-row-actions):not(:first-of-type) {
    border-top: 1px solid lighten($bodyColor, 85);
  }

  &.form-row-actions {
    justify-content: space-between;
  }

  .form-row-label {
    flex: 1;
    align-self: center;

    .form-row-label-help {
      display: block;
      color: lighten($bodyColor, 40);
      font-size: 12px;
      &:first-of-type {
        margin-top: 5px;
      }
    }
  }

  .form-row-control {
    flex: 2;
    align-self: center;
  }
}

input:not([type=submit]), select, textarea {
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid lighten($bodyColor, 70);
}

// Buttons

.btn, .btn:visited {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  background: none;
  background-color: $btnBgDefault;
  color: white;
  font-size: 12px;
  border: none;
  border: 1px solid darken($btnBgDefault, 3);
  border-bottom-width: 3px;
  border-radius: 4px;
  margin: 10px 0;
  font-family: $sans-serif;
  text-shadow: 0 0 3px rgba(black,0.2);
  white-space: nowrap;

  &:hover, &:active {
    background-color: lighten($btnBgDefault, 10);
    border-color: transparent;
  }

  &:focus {
    outline: 0;
  }

  &.btn-submit {
    background-color: $btnBgSubmit;
    border-color: darken($btnBgSubmit, 3);

    &:hover {
      background-color: lighten($btnBgSubmit,5);
      border-color: transparent;
    }
  }

  &.btn-danger {
    background-color: $btnBgDanger;
    border-color: darken($btnBgDanger, 3);

    &:hover {
      background-color: saturate($btnBgDanger,30);
      border-color: transparent;

    }
  }

  &.btn-clear {
    background: white;
    border: 1px solid lighten($bodyColor, 75);
    border-bottom-width: 3px;
    color: $bodyColor;
    text-shadow: none;

    &:hover {
      border-color: lighten($bodyColor, 40);
    }
  }

  &.btn-small {
    font-size: 10px;
    padding: 3px 6px;
  }
}

.badge {
  text-transform: uppercase;
  font-size: 10px;
  padding: 3px 10px;
  background: $badgeBgColor;
  color: $badgeColor;
  border-radius: 30px;
  display: inline-block;

  &.badge-notice {
    background-color: $btnBgSubmit;
  }

  & a {
    color: inherit;
  }
}

// Pagination


.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  font-size: 12px;

  & > div {
    flex-grow: 1;
    flex-basis: 0;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  .pagination-link {
    a {
      text-transform: uppercase;
      color: inherit;
      padding-bottom: 3px;
      border-bottom: 1px solid lighten($bodyColor, 80);
      transition: $default-transition;
      display: inline-block;

      &:hover {
        border-bottom-color: $bodyColor;
      }
    }

    .icon {
      display: inline-block;
      transition: $default-transition;

    }

    &.previous a:hover .icon {
      transform: translateX(-5px);
    }

    &.next a:hover .icon {
      transform: translateX(5px);
    }
  }
}
